.nav {
    position: absolute;
    left: 0;
    top: 113px;
    width: 100%;
    padding: 5px 0;
    background-color: #fff;
}
.nav .contents {
    position: relative;
    width: 980px;
    margin: 0 auto;
}
.nav_menu {display: inline-flex;}
.nav_menu > li {width: 162px; padding: 20px 0;}
.nav_menu > li > h2{position: absolute; top: 7px;}
.nav_menu > li:first-child .nav_overMenu {padding-left: 0;}
.nav_menu > li:first-child { width: 137px;}
.nav_menu > li:nth-child(1) > h2 {left: 0px;}
.nav_menu > li:nth-child(2) > h2 {left: 80px;}
.nav_menu > li:nth-child(3) > h2 {left: 160px;}
.nav_menu > li:nth-child(4) > h2 {left: 240px;}
.nav_menu > li:nth-child(5) > h2 {left: 340px;}
.nav_menu > li:nth-child(6) > h2 {left: 440px;}

.nav_overMenu {
    position: relative;
    margin-bottom: 8px;
    padding: 25px 0 0 25px;
}


.nav_overMenu dt h2 {
    font-weight: 700;
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
}

.nav_overMenu dd h3 {
    font-weight: 400;
    font-size: 14px;
    color: #666;
    line-height: 2.143em;
}
.nav_overMenu dd {
    margin: 0;
}
.nav_overMenu h3 {
    height: auto;
    margin: 0;
    line-height: 1em;
    text-align: left;
    background-image: none;
}

.display_style_none{
    display: none;    
}
.display_style_block{
    display: block;    
}

.nav_overMenu dt {
    padding-top: 18px;
}


.totalSearch_wrap{
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 7px;
    padding: 0 36px 0 10px;
}

.totalSearch_wrap label input[type="text"] {
    width: 180px;
    height: auto;
    padding: 0 0 0 7px;
    font-size: 16px;
    color: #222;
    line-height: 1.500em;
    border: none;
}